.heading {
    text-align: center;
    background-image: url("https://motionarray.imgix.net/preview-74974-50nguwOU97-low_0004.jpg?w=660&q=60&fit=max&auto=format");
    color: white;
    padding: 20px;
    margin: 10px;
    border: solid #637272 5px;
    font-family: 'Staatliches', cursive;
}

.slogan {
    text-align: center;
    background: #06a2a8;
    color: white;
    padding: 20px;
    border: solid #ad56ea 5px;
    margin: 10px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
}

.button {
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    padding: 10px;
    margin: 10px;
    color: white;
}

button {
    color: #76757a;
    background-color: #4a9fef;
    padding: 5px;
    margin: 5px;
    border: solid 5px;
}

img {
    width: 200px;
    height: 300px;
}

.image {
    display: flex;
    justify-content: space-around;
}

.bio {
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
}

body {
    background-color: black;
}
